.header {
    background-color: #000407;
    color: #32b9cd;
    
}
.header .container {
display: flex;
justify-content: space-between;
}

.container {
    width: 80%; 
    margin: 10px;
}
.navbar {
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-around;
}




 