body{
    margin: 0%;
    padding: 0%;
    font-family: 'Exo 2', sans-serif;
}


.header {
    background-color: #000407;
    color: #32b9cd;
    border-bottom: 3px solid #32b9cd;
    
}
.header .container {
display: flex;
justify-content: space-between;

}

.container {
    width: 80%; 
    margin:0% auto;

}
.navbar {
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

p{
    margin: 20px 30px 40px  50px
}

.navbar a {
    text-decoration: none;
    color: #E3B062
}

.agora{
    font-weight: 900;
}

.banner {
    background-image: url(aguaviva.png);
    background-size: cover
    

}

.banner .container {
    height:550px;
    display: flex;
    color: white;
    align-items: center;
    
}

.banner .container .card{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.banner .container.login{
    display: flex;
    justify-content: center;

}

.banner p {
    font-size: 36px;
    width: 280px; 
    margin-left: 20%;

}

.footer{
background-color: #32b9cd;
color: white;

}

.footer .container{
display: flex;
height: 150px;
align-items: center;
justify-content: center;

}


.card{
    background-color: #e5e5e5;
    color: #e6005a;
    width: 400px;
    height: 350px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.card h2{
    margin:0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    width: 250px;
}
form label{
    margin-top: 8px
}

form input {
margin-top: 10px;
margin-bottom: 10px;
outline: 3px solid #32b9cd;
border: 0;
border-radius: 10px;
padding: 8px;
}

form button{
    margin-top: 8px;
    background-color: #e6005a;
    color: white;
    padding: 10px 15px;
    width: 120px;
    border-radius: 15px;
    font-size: 18px;
    border:0;
    align-self: center;
    cursor: pointer;
}


.from2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    width: 250px;
}

.from2 input{
    margin-top:8px;
    margin-bottom: 8px;
outline: 3px solid #32b9cd;
border: 0;
border-radius: 10px;
padding: 8px;
}

.from2 label{
margin-top: 8px
}

.card2{
    background-color: #e5e5e5;
    color: #e6005a;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    padding: 15px;
    
}
.banner .container .card2 {
    display: flex;
    margin: 0 auto;
    align-items: center;

}

.banner .container.casdastro{
    display: flex;
    justify-content: center;
}

.div_final{
    background-color: #e5e5e5;
    height: 206px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    
.planeta {
    width: 150px;
    height: 150px;
    
}
.lampada{
    width: 150px;
    height: 150px;
    

}
.mao{
    width: 150px;
    height: 150px;
    
}
.frases{
    background-color: #e5e5e5;
    height: 206px;
    width: 100%;
    display: flex;
    
}
.missao{
    color: #e6005a;
    font-size: 25px;
    font-weight: 600;
    margin-left: 150px;
}
.visao{
    color: #e6005a;
    font-size: 25px;
    font-weight: 600;
    margin-left: 335px;
    
    
}
.valores{
    color: #e6005a;
    font-size: 25px;
    font-weight: 600;
    margin-left: 330px;
    
}
.m{
    margin-top: 50px;
    margin-left: -925px;
    
}
.vi{
    margin-top: 50px;
    margin-left: 270px;
    
    

}

.va{
    margin-top: 50px;
    margin-left: 250px;
    
}



















 